*{
    padding: 0%;
    margin: 0%;
}
/*#pagina{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: ;
}*/
body {
   width: 100%;
   margin: 0px;
   flex-direction: row;
  background-image: url(imagens/nikebody.webp);
  background-size: cover;
  background-repeat: no-repeat; 
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgb(19, 18, 18);
  
}
#logo{
    width: 40%;
    height: 100%;
    display: flex;
    color: white;
    justify-content: left;
    
    
}

#cabecalho{
    width: 50%;
    flex-direction: row-reverse;
}
ul{
 justify-content: left;   
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: right;
    

}
#list{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: right;
}
main{
    text-align: center;
    width: 100%;
    margin: 0px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
.flex-container{
    width:300px;
    height:100px;
    display: flex;
    justify-content: center;
    background-color: none;
}
h2{
    font-size: 20pt;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#text{
    color: black;
}
.formlogin{
   display: inline-block;
   width: 300px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
    border-radius: 5px;
    border-color: #000000;
}
#caixa{
    height: 30px;
    border-radius: groove;

    background-color: rgb(67, 202, 202);
}
button{
    height: 35px;
    background-color: #11c9cf;
    border-color: #000000;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}
.link, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border-color: #000000;
    color: #000000;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    
}
input:hover{
    background-color: rgb(30, 156, 165);
    transition: 0.3s;
}



input:focus{
    width: 380px;
    height: 40px;
    transition: 1s;
    background-color: rgb(21, 4, 44);
    color: white;
    animation: border 1.5s infinite;
}
input: li{
    
    color: white;
    animation: :fullscreen;
    
}






